<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/pixel.png" />
    <title>Game Library | <%= title %></title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
      integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap-grid.min.css"
      integrity="sha512-Xj2sd25G+JgJYwo0cvlGWXoUekbLg5WvW+VbItCMdXrDoZRWcS/d40ieFHu77vP0dF5PK+cX6TIp+DsPfZomhw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Allerta Stencil";
        font-size: 22px;
        background-color: lightslategray;
      }

      .main-container {
        display: flex;
        justify-content: space-between;
      }
      main {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .nav-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-decoration: none;
        color: black;
      }
      .nav-link {
        display: flex;
        margin: 30px;
        justify-content: center;
      }
      .nav-bar {
        display: flex;
        background-color: lightsteelblue;
        justify-content: center;
        border: 3px solid black;
        margin-right: 2rem;
        border-radius: 25px;
        color: black;
        text-decoration: none;
      }
      a {
        text-decoration: none;
        color: black;
      }
      footer {
        margin-top: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
</html>
