

<%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/head-nav.ejs') %>
    <main>
        nothing at this end point
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>