<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/head-nav.ejs') %>
    <main class="main-content">
        <h4>Game & User Database maker. MVC.</h4>
        <div>Add your own games to the database with title, description and price.</div>
        <div> Or make a user to add to the database </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>